<!-- ヘディング -->
<h2>登録情報変更</h2>
<!-- メイン -->
<h4>登録情報</h4>
<div class="row userEditRow">
  <%= form_for(current_user) do |f| %>
    <div class="col-lg-1 offset-lg-4 userEditRow_ArticleCol-name">名前</div>
    <%= f.text_field :name, class: "col-lg-3 userEditRow_contentCol-name" %></div>
    <div class="col-lg-1 offset-lg-4 userEditRow_ArticleCol-email">メール<br>アドレス</div>
    <%= f.text_field :email, class: "col-lg-3 userEditRow_contentCol-email" %></div>
    <%= f.submit '保存', class: "col-lg-1 offset-lg-8 btn btn-primary userEditRow-submit" %>
  <% end %>
</div>