<!-- Aboutヘディング1 -->
<h2 class="homesAboutHeading1">このアプリは私の実体験から生まれました。</h2>
  <p class="homesAboutHeading1_paragraph">私は趣味で美術館めぐりをしているのですが、<br>
	展覧会が混雑していると作品が十分に楽しめなかったという経験が何度かありました。<br>
	混雑が事前にわかればいいのにという思いからこのアプリを作成しました。
  </p>
<!-- Aboutヘディング2 -->
<h2 class="homesAboutHeading2">ユーザーが混雑度を投稿し、共有できる。</h2>
  <p class="homesAboutHeading2_paragraph">使い方は簡単です。該当している混雑度をクリックするだけ。</p>
<!-- Aboutヘディング3 -->
<h2 class="homesAboutHeading3">展覧会のクリップ機能。</h2>
  <p class="homesAboutHeading3_paragraph">気になる展覧会を見つけたら、クリップマークをクリックするだけ。<br>
  	マイページにクリップした展覧会が表示されます。<br>
  	クリップすると会期が終了した展覧会の閲覧も可能です。
  </p>
  <div class="homesAboutHeading3_imgage"><%= image_tag "clipped.jpg", class: "homesAboutHeading3_imgageTag-clip" %></div>
  <div class="homesAboutHeading3_imgage"><%= image_tag "clips_index.png", class: "homesAboutHeading3_imgageTag-index" %></div>