<!-- アプリ名 -->
<h4 class="homesTopName">わかるくん - リアルタイム投稿アプリ〜これで上野の美術館・博物館の混雑度がわかる〜</h4>
<!-- ヘディング1 -->
<h2 class="homesTopHeading1">このアプリは私の実体験から生まれました。</h2>
<p class="homesTopHeading1_paragraph">私は趣味で美術館めぐりをしているのですが、展覧会が混雑していると作品が十分に楽しめなかったという経験が何度かありました。<br>混雑が事前にわかればいいのにという思いからこのアプリを作成しました。</p>
<!-- ヘディング2 -->
<h2 class="homesTopHeading2">ユーザーが混雑度を投稿し、共有できる。</h2>
<p class="homesTopHeading2_paragraph">使い方は簡単です。該当している混雑度をクリックするだけ。</p>
<%= link_to "利用する", new_user_registration_path %>
<p>※ご利用には会員登録が必要です</p>
<p>*ここに画像挿入*</p>
<!-- ヘディング3 -->
<h2 class="homesTopHeading3">対象の展覧会は<br>上野にある代表的な美術館･博物館で開催中のものです。</h2>
<p class="homesTopHeading3_paragraph1">ユーザーの使いやすさや動作の速度を重視し、対象を以下の美術館･博物館にしました。</p>
  <ul>
	<li>東京が立てた美術館</li>
	<li>上野の木木木美術館</li>
	<li>西洋がテーマの美術館</li>
	<li>国が立てた科学の博物館</li>
	<li>国が立てた博物館</li>
  </ul>
<p class="homesTopHeading3_paragraph2">今すぐ体験してみませんか？</p>
<%= link_to "利用する", new_user_registration_path %>
<p>※ご利用には会員登録が必要です</p>