// Place all the styles related to the exhibitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exhibitionIndexMain-ul {
  width: 30%;
  padding: 0.5em;
  list-style: none;
  border: solid 1px silver;

  &_li-nameLink {
  	height: 3.5em;
  	font-size: 1.2em;
  	color: black;
	word-break: break-all;
  }

  &_li-clippedLink {
  	color: silver;
  }

  &_li-place {
  	margin: 0.2em;
  	font-size: 0.9em;
  }

  &_li-period {
  	margin: 0.2em;
  	font-size: 0.9em;
  }

  &_li-imageTag {
    width: 100%;
    object-fit: contain;
    text-align: center;
  }


  // 投稿済み
  &_li-highButton {
    border: solid 1px black;
    margin: 0.5em 0.5em 0em;
    font-size: 0.8em;
  }

  &_li-middleButton {
    border: solid 1px black;
    margin: 0.5em 0.5em 0em;
    font-size: 0.8em;
  }

  &_li-lowButton {
    border: solid 1px black;
    margin: 0.5em 0.5em 0em;
    font-size: 0.8em;
  }

  // 未投稿
  &_li-highyetButton {
    border: solid 1px gray;
    margin: 0.5em 0.5em 0em;
    font-size: 0.8em;
  }

  &_li-middleyetButton {
    border: solid 1px gray;
    margin: 0.5em 0.5em 0em;
    font-size: 0.8em;
  }

  &_li-lowyetButton {
    border: solid 1px gray;
    margin: 0.5em 0.5em 0em;
    font-size: 0.8em;
  }
}

// レスポンシブ
// ipadの場合
@media screen and (max-width: 1023px) {
  .exhibitionIndexMain-ul {
    width: 48%
  }
}
// ipadより小さい場合
@media screen and (max-width: 767px) {
  .exhibitionIndexHeading_pragraph {
    font-size: 0.9em;
  }

  .exhibitionIndexMain-ul {
    width: 100%
  }
}
