// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homesTopName {
  text-align: center;
}

.homesTopHeading1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;

  &_paragraph {
    text-align: center;
    font-size: 1.2em;
  }
}

.homesTopHeading2 {
  text-align: center;
  margin: 2em;
  margin-bottom: 1em;

  &_paragraph {
    text-align: center;
    font-size: 1.2em;
  }

  &_link {
    margin: 0 auto;
    display: block;
    width: 4em;
    font-size: 1.2em;
  }

  &_attention {
    text-align: center;
    font-size: 0.8em;
  }

  &_imgageDiv {
    text-align: center;
  }

  &_imgage {
    width: 70%;
    margin-top: 1em;
  }
}

.homesTopHeading3 {
  text-align: center;
  margin: 2em;
  margin-bottom: 1em;

  &_paragraph1 {
    text-align: center;
    font-size: 1.2em;
  }

  &_list {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 1.5em;
  }

  &_paragraph2 {
    text-align: center;
    margin-top: 2em;
    font-size: 1.3em;
  }

  &_link {
    margin: 0 auto;
    display: block;
    width: 4em;
    font-size: 1.2em;
  }

  &_attention {
    text-align: center;
    margin-bottom: 6em;
    font-size: 0.8em;
  }
}

// レスポンシブ
// ipadの場合
@media screen and (max-width: 1023px) {
  .homesTopHeading2_imgage {
    width: 80%;
    margin-top: 1em;
  }
}
// ipadより小さい場合
@media screen and (max-width: 767px) {
  .homesTopHeading2_imgage {
    width: 100%;
    margin-top: 1em;
  }

  .homesTopHeading3_paragraph1 {
    font-size: 1.15em;
  }
}